.pagination .page-link {
    color: #001f3f;
    border: 1px solid #b7efc5;
    background: #fff;
    font-size: 1.1rem;
    border-radius: 8px !important;
    margin: 0 2px;
    transition: background 0.2s, color 0.2s;
}
.pagination .page-item.active .page-link,
.pagination .page-link:focus {
    background: #001f3fb9 !important;
    color: #fff !important;
    border-color: #001f3f !important;
}
.pagination .page-link:hover {
    background: #001f3f38;
    color: #001f3f;
}
